//button
.btn-grown{
  color: #fff;
  background-color: #7a4310;
  border-color: #7a4310;

  &:hover{
    background-color: #58310c;
    border: none;
  }

  &:focus{
    background-color: #7a4310;
    box-shadow: none;
  }

  &:active{
    background-color: #58310c;
    box-shadow: none;
  }
}

.btn-img{
  height: 2rem;
  width: 2rem;
  border: none;
  padding: 0;
  background-color: transparent;

  &:hover{
    background-color: transparent;
    box-shadow: none;
  }
  &:focus{
    background-color: transparent;
    box-shadow: none;
  }
  &:active{
    background-color: #58310c;
    box-shadow: none;
  }
}

.dropdown-custom{
  position: absolute;
  float: right;
  left: 90%;
  top: 1%;

  >button{
    color: #fff;
    background-color: #7a4310;
    border-color: #7a4310;

    &:hover{
      background-color: #58310c;
      border: none;
    }

    &:focus{
      background-color: #7a4310;
      box-shadow: none;
    }

    &:active{
      background-color: #58310c;
    }
  }
}

.react-bootstrap-table{
  overflow-x: auto !important;
}

.react-bootstrap-table-pagination{
  >div{
    max-width: 75%;
    flex: 0 0 75%;
  }
  .react-bootstrap-table-pagination-list{
    max-width: 20%;
  }
}