//height
.h-3r{
  height: 3rem;
}
.h-5r{
  height: 5rem;
}
.h-10r{
  height: 10rem;
}
.h-12r{
  height: 12rem;
}
.h-23r{
  height: 23rem;
}


.mh-23r{
  max-height: 23rem;
}

.h-100pt{
  height: 90%;
}

//width
.w-3r{
  width: 3rem;
}
.w-5r{
  width: 5rem;
}
.w-10r{
  width: 10rem;
}

.w-100pt{
  width: 100%;
}
.w-50pt{
  width: 50%;
}

//font-size
.fs-20{
  font-size: 20px;
}
.fs-25{
  font-size: 25px;
}
.fs-30{
  font-size: 30px;
}

//align
.jc-c{
  justify-content: center;
}

.ta-c{
  text-align: center;
}

//margin
//margin-left
.ml-8{
  margin-left: 8rem;
}
.ml-60pt{
  margin-left: 60%;
}
.ml-70pt{
  margin-left: 70%;
}
.ml-80pt{
  margin-left: 80%;
}
.ml-90pt{
  margin-left: 90%;
}
//margin-top
.mt--2r{
  margin-top: -2rem;
}
.mt-2r{
  margin-top: 2rem;
}
//margin-right
.mr-12{
  margin-right: 12rem;
}

//others
.bd{
  border: 2px solid #b26f42;
}

.left{
  float: left;
}

.right{
  float: right;
}

.cl-brown{
  color: #7a4310;
}
