.profile{
  height: auto;
  background-color: rgba(153, 64, 4, 0.753);
  max-width: 110rem;
  width: 100%;
  
  .profile-header{
    height: 1rem;
  }

  .col-sm-3{
    background-color: white;

    label{
      margin-bottom: 1.5rem;
      margin-left: 20px;
    }
    .nav{
      background-color: white;

      .nav-item{

        .nav-link.active{
          background-color: white;
          font-weight: bold;
        }
      }
    }

    .nav-pills{
      a{
        color:  rgba(153, 64, 4, 0.753);
        white-space: nowrap;
      }
    }
    
  }
}

@media (max-width:1536px){
  .nav-pills{
    a{
      color: black;
      white-space: nowrap;
      font-size: 20px;
    }
  }

  .home .header-home{
    max-width: 100%;
    width: 100%;
    height: 8rem;
  }
}