.infomation{
  height: auto;
  width: 100%;
  background-color: white;
  
  .info-header{
    height: 5rem;
    font-size: 25px;
    font-weight: bolder;
  }

  .info-body{

    .click{

      *{
        margin-left: 5%;
      }
    }
  }
}