.home{
  width: 100%;
  height: auto;

  .home-header{
    height: 50vh;
    background-image: url(/img/blackauction.jpg);
    background-size: cover;
    padding-top: 3vh;

    .content{
      width: 38vw;
      height: 8rem;
      font-size: 40px;
      text-align: center;
      background-color: rgba(153, 64, 4, 0.753);
      font-weight: bold;
      margin-left: 30vw;
      color: white;
    }

    .search{
      margin-top: 5vh;
      height: 7vh;
      width: 30%;
      margin-left: 35%;
      font-size: larger;
      margin-bottom: 2vh;
      
        * {
          float: left;
        }
        
        .search-bar{
          width: 85%;
          height: 100%;
          
          &:focus{
            outline: none;
          }
        }
    
        .search-button{
          background-color: white;
          width: 10%;
          height: 100%;

          i{
            font-size: larger;
            color: #7a4310;
          }
        }

        input{
          padding-left: 15px;
        }
    }

    .sellbtn{
      width: 20%;
      height: 7vh;
      background-color: white;
      border: 2px solid #7a4310;
      margin-left: 40%;
      margin-top: 0;
      color: #7a4310;
      font-weight: bold;
      font-size: 20px;

      &:hover{
        font-size: 25px;
      }
    }
  }

  .home-body{
    height: auto;
    width: 100%;
    background-color:#f1f3f6;

    .Brands{
      height: 17rem;
      background-color: white;
      margin-left: 3%;
      width: 95%;
      
      > *{
        float: left;
        width: 15%;
        margin-left: 1.5%;
        margin-bottom: 1rem;
        color: #7a4310;
        border: 2px solid black;
        cursor: pointer;

        img{
          width: 100%;
          height: 10rem;
        }
      }
    }
  
    .product-List{
      height: auto;
      width: 95%;
      margin-top: 1rem;
      margin-left: 2.9rem;
      background-color: white;
    
      .name-list{
        width: fit-content;
        font-size: 25px;
        font-weight: bold;
        height: 4rem;
        margin-left: 4rem;
        padding-top: 1rem;
        color: #7a4310;
      }
    
      .body-dishes{
        height: 20rem;
        width: 90%;
        padding-top: 1rem;
        flex-wrap: wrap;
        list-style-type: none;
        margin-left: 10%;
    
        .listItemPro{
          float: left;
          width: 15%;
          height: 18rem;
          border: 1px solid black;
          margin-bottom: 2rem;
          margin-left: 2rem;
          cursor: pointer;
    
          .images{
            display: flex;
            justify-content: center;
    
            img{
              margin-top: .5rem;
              margin-bottom: .5rem;
              height: 10rem;
            }
          }
    
          .ten{
            font-size: 15px;
            height: 5rem;
            text-align: center;
            word-break: break-all;
          }
        }
      }
    }
  }
}