.rating{
  height: auto;
  width: 100%;
  background-color: #b26f42;

  .body{
    background-color: white;
    width: 97%;
    height: 30rem;

    .left{
      
      img{
        width: 18rem;
      }
    }
    
    .click{
      *{
        margin-left: 5%;
      }
    }
  }

}